* {
    margin:0;
    padding:0;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
    font-family: Helvetica;
    color: gray;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

#error-message {
    color: red;
}

.quiz-container{
    background-color: white;
    width: 600px;
    height: 500px;
    margin:40px 0;
}

.questions {
    display:none;
}

#quiz, .results {
    margin-top:30px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(231, 230, 230);
    display: flex;
    flex-direction: column;
}

.results {
    display: none;
}

.show-active {
    display:block;
}

.options-div{
    margin-bottom: 15px;
}

label {
    margin: 5px 0px;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

input {
    float: left;
}

.buttons {
    display:flex;
    justify-content: space-between;
}

.btn {
    margin:20px 0px;
    width:80px;
    height:30px;
    background:#62aa46;
    color: white; 
    border: none;
    cursor:pointer;
}

.btn:hover{
    background:#53a035;
}

#previous-btn-id {
    display:none;
}


